/*Mixins*/
@mixin Btn-1
{
    &:hover
    {
        border-bottom: solid 1px $color-1;
    }
}

@mixin Header-1
{
    color:$color-1;
    margin-right: 5px;
    width: 50px;
}

@mixin Header-2
{
    color:$color-1;
    text-decoration: none;
    padding-bottom: 1px;
}