/*Page 404*/

.Erreur
{
    margin: $margin-1;
    display:flex;
    flex-direction: column;
}

.Erreur-1
{
    text-align: center;
    color: $color-1;
    font-size: 250px;
    margin: 0px;
}

.Erreur-p
{
    text-align: center;
    color: $color-1;
    font-size: 40px;
    margin: 0px;
}

.Erreur-l
{
    display:flex;
    text-decoration: none;
    margin-top: 100px;
}

.Erreur-a
{
    color: $color-1;
    font-size: 15px;
    margin-left: 42%;
}