/*Page A propos*/

.Apropos
{
    margin: $margin-1;
}

.banniere-AP
{
    @include banniere;
    border-radius: $border-radius-1;
    height: 225px;
    margin: 40px 0px;
}

.Apropos-B
{
    @include background;
    border-radius: $border-radius-1;
}

.Body-AP
{
    margin: 0px 15% 10px 15%;
    font-weight: 400;
    font-size: 24px;
}

@media screen and (max-width: 770px)
{
    .banniere-AP
    {
        border-radius: $border-radius-2;
        height: 220px;
        margin: 30px 0px;
    }

    .Apropos-B
    {
        border-radius: $border-radius-2;
    }

    .Body-AP
    {
        margin: 0px 0px 10px 0px;
        font-weight: 500;
        font-size: 13px;
    }
}