.Loge-B
{
    border-radius: $border-radius1;
    width: 100%;
    height: 400px;
}

.Loge-box-1
{
    display:flex;
}

.Loge-box-2
{
    display:flex;
}

.Loge-AP
{
    display:flex;
}

.AP1
{
    flex: 1;
}

.AP2
{
    flex: 1;
}