/*Page fiche logement*/

.FicheLogement
{
    margin: $margin-1;
}

.Loge-box-1
{
    margin: 20px 0px;
    color: $color-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.Loge-title
{
    font-weight: 500;
    font-size: 36px;
}

.Loge-per1
{
    display:flex;
}

.Loge-per2
{
    display:none;
}

.Loge-name
{
    display:flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 18px;
}

.Loge-host-1-1
{
    text-align: end;
    margin: 10px 0px 0px 0px;
    padding: 0px;
}

.Loge-host-1-2
{
    text-align: end;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.Loge-host-2
{
    margin-left: 10px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.Loge-location
{
    position: relative;
    bottom: 50px;
    font-weight: 500;
    font-size: 18px;
    color: $color-1;
    margin: 0px;
    padding: 0px;
}

.Loge-box-2
{
    color: $color-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Loge-FL
{
    display:flex;
    margin-top: 20px;
}

.FL1
{
    flex: 1;
    margin-right: 50px;
}

.FL2
{
    flex: 1;
}

@media screen and (max-width: 1150px)
{
    .Loge-title
    {
        font-size: 28px;
    }
}

@media screen and (max-width: 770px)
{
    .Loge-title
    {
        font-size: 18px;
        margin: 0px;
    }
    .Loge-location
    {
        position: relative;
        bottom: 10px;
        font-size: 14px;
    }

    .Loge-per1
    {
        display:none;
    }

    .Loge-per2
    {
        display:flex;
    }
    .Loge-per2-2
    {
        display:flex;
        justify-content: space-between;
    }
}