/*Page Home*/

.Home
{
    margin:$margin-1;
}

.Home-1
{
    position: relative;
    height: 225px;
    background: #000000;
    border-radius: $border-radius-1;
    display: flex;
    align-items: center;
}

.Home-B
{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    border-radius: $border-radius-1;
}

.Home-DH
{
    flex: 1;
}

.Home-H
{
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    opacity: 1;
    font-family: $police-1;
    color: $color-3;
}

.mobile
{
    display: none;
}

.Home-2
{
    margin : 50px 0px;
    padding-bottom: 50px;
    background-color: $color-4;
    border-radius: $border-radius-1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Home-card
{
    margin-top: 50px;
    position: relative;
}

.CoverH
{
    border-radius: $border-radius-2;
    height: 370px; 
    width: 370px;
    object-fit: cover;
}

.titleH
{
    position: absolute;
    bottom: 15px;
    left: 15px;
    margin-right: 150px ;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: $color-3;
}

@media screen and (max-width: 1300px)
{
    .CoverH
    {
        height: 320px; 
        width: 320px;
    }
}

@media screen and (max-width: 1100px)
{
    .CoverH
    {
        height: 270px; 
        width: 270px;
    }
}

@media screen and (max-width: 770px)
{
    .Home-1
    {
        height: 150px;
        border-radius: $border-radius-2;
    }

    .Home-B
    {
        border-radius: $border-radius-2;
    }


    .Home-H
    {
        font-weight: 500;
        font-size: 24px;
        text-align: start;
        margin:20px;
    }
    .mobile
    {
        display: block;
        margin: 0px;
        padding: 0px;
    }
    
    .Home-2
    {
        display: flex;
        flex-direction: column;
        background-color: white;
        justify-content: center;
        margin : 10px 0px;
        padding-bottom: 10px;
    }

    .Home-card
    {
        text-align: center;
        margin-top: 20px;
    }

    .CoverH
    {
        height: 250px; 
        width: 100%;
    }
}