/*Page Home*/

.Home
{
    margin:$margin-1;
}

.Home-1
{
    margin: 0px;
    padding: 0px;
    height: 225px;
    background: #000000;
    border-radius: $border-radius-1;
}

.Home-B
{
    position: absolute;
    width: 91%;
    height: 225px;
    opacity: 0.7;
    border-radius: $border-radius-1;
}

.Home-H
{
    position: relative;
    font-style: normal;
    padding-top: 85px;
    font-weight: 200;
    font-size: 50px;
    text-align: center;
    font-family: $police-1;
    color: $color-3;
}

.Home-2
{
    margin : 50px 0px;
    background-color: $color-4;
    border-radius: $border-radius-1;
    display: flex;
    flex-wrap: wrap;
}

.Home-card
{
    margin: 50px 0px 0px 50px;
    position: relative;
}

.CoverH
{
    border-radius: $border-radius-2;
    height: 370px; 
    width: 390px;
    object-fit: cover;
}

.titleH
{
    position: absolute;
    bottom: 15px;
    left: 15px;
    margin-right: 150px ;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: $color-3;
}