/*Collapse*/

.Textbox
{
    display:flex;
    flex-direction: column;
    position: relative;
    margin: 0px;
    padding: 0px;
}

.div-B
{
    margin: 0px;
    padding: 0px;
}

.Textbox-title
{
    background-color: $color-1;
    color: $color-3;
    border-radius: $border-radius-3;
    margin: 0px;
    padding: 5px 10px;
}

.Textbox-title-fl
{
    background-color: $color-1;
    color: $color-3;
    border-radius: $border-radius-3;
    margin: 0px;
    padding: 10px;
    font-size: 18px;
}

.chev
{
    position: absolute;
    right : 18px;
    top : 12px;
}

.Checkbox
{
    position: absolute;
    top: 7px;
    right: 20px;
    height: 20px;
    width: 20px;
    opacity: 0;
}

.Textbox-text
{
    background-color: $color-5;
    border-radius: 0px 0px 5px 5px;
    color: $color-1;
    margin: 0px 0px 0px 0px;
    padding: 20px 40px;
}

.Textbox-text-fld
{
    background-color: $color-5;
    border-radius: 0px 0px 5px 5px;
    color: $color-1;
    margin: 0px 0px 0px 0px;
    margin: 0px;
    padding: 20px 10px;
    font-size: 18px;
    list-style-type:none;
}


