/*Rating*/

.Rating1
{
    margin: 0px;
    display:block;
}

.E-Vide
{
    height: 20px;
    width: 20px;
}

.E-Pleine
{
    height: 20px;
    width: 20px;
}

.Rating2
{
    display:none;
}

@media screen and (max-width: 770px)
{
    .Rating1
    {
        display:none;
    }

    .Rating2
    {
        display:block;
    }

    .E-Vide
    {
        height: 15px;
        width: 15px;
    }

    .E-Pleine
    {
        height: 15px;
        width: 15px;
    }

}