.Textbox
{
    display:flex;
    flex-direction: column;
    position: relative;
    margin: 0px;
    padding: 0px;
}

.Textbox-title
{
    background-color: $color-1;
    color: $color-3;
    border-radius: $border-radius3;
    margin: 0px;
    padding: 5px 10px;
}

.chev
{
    position: absolute;
    right : 20px;
    top : 5px;
}

.Checkbox
{
    position: absolute;
    top: 5px;
    right: 25px;
    opacity: 0;
}

.Textbox-text
{
    background-color: $color-5;
    border-radius: 0px 0px 5px 5px;
    color: $color-1;
    margin: 0px 0px 0px 0px;
    padding: 5px 10px;
}


