/*Footer*/

.Footer
{
    margin: 0%;
    padding: 0%;
    background-color: $color-2;
}

.Footer-1
{
    text-align: center;
    padding-top: 20px;
}

.Footer-1-K
{
    margin: 1px;
}

.Footer-1-L
{
    margin: 1px;
}

.Footer-p
{
    text-align: center;
    color: $color-3;
    padding-bottom: 20px;
    font-size: 24px;
}

@media screen and (max-width: 770px)
{
    .Footer-1
    {
        padding-top: 70px;
    }

    .Footer-p
    {
        padding-bottom: 70px;
        font-size: 12px;
    }
}