
/*Header*/

.Header
{
    margin: $margin-1;
    padding: 50px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header-1
{
    margin: 0px;
}

.Header-1-K
{
    @include Header-1;
    height: 60px;
}

.Header-1-L
{
    @include Header-1;
    height: 50px;
}

.Header-2
{
    font-size: 24px;
}

.Header-2-1
{
    @include Header-2;
    @include Btn-1;
}

.Header-2-1-H
{
    @include Header-2;
    border-bottom: solid 1px $color-1;
}

.Header-2-2
{
    @include Header-2;
    @include Btn-1;
    margin-left: 50px;
}

.Header-2-2-A
{
    @include Header-2;
    border-bottom: solid 1px $color-1;
    margin-left: 50px;
}

@media screen and (max-width: 800px)
{
    .Header-1-K
    {
        height: 45px;
        width: 40px;
    }

    .Header-2-2
    {
        margin-left: 15px;
    }

    .Header-1-L
    {
        height: 30px;
        width: 30px;
    }

    .Header-2
    {
        font-size: 13px;
        text-transform: uppercase;
    }
}